<div class="container">
  
    <% rank_no = 0 %>
    <% current_count = 0 %>
    <% @sorted = @wantscounts.sort_by{|k,v| - v} %>
    <div class="container">
      <div class="container-inner inner-default clearfix">
      
        <% @sorted.each do |id_key,count_value| %>
          <% if current_count == count_value %>
            <% rank_no -= 1 %>
          <% end %>
          
          <div class="item-box">
            ランキング<%= rank_no += 1 %>位
            <%= count_value %>Wanted!!
            <% @item = Item.find_by(id: id_key) %>
            <div class="image">
              <div class="img-wrap">    
              <% if @item.large_image == nil %>
                <%= image_tag("no-image.png" , alt: @item.title) %>
              <% else %>
                <%= image_tag(@item.large_image, alt: @item.title) %>
              <% end %>
              </div>
            </div>
            
            <div class="title">
              <%= @item.title %>
            </div>
          </div>
          <% current_count = count_value %>
        <% end %>
      </div>    
    </div>
  
</div>